.d-none{
    display: none;
}
html, body {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}
form {
    border: 5px solid #f1f1f1;
}
#input-playername {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#btn-signin {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
}
#btn-signin:hover {
     opacity: 0.8;
 }
h1 {
    text-align:center;
    font-size:18px;
}

.formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
}
.container {
    padding: 16px 0;
    text-align:left;
}
#input-chat {
    width:195px;
    margin-left: 4px;
    border:1px solid #ACD8F0; }

#chatEntries {
    text-align:left;
    margin: 0 auto 10px;
    padding:10px;
    background:#fff;
    height:250px;
    width:230px;
    border:1px solid #ACD8F0;
    overflow:auto; }
#chat {
    margin:0 auto;
    padding-bottom:10px;
    background:#EBF4FB;
    position:absolute;;
    right: 935px;
    z-index:1;
    width:260px;
    border:1px solid #ACD8F0; }
a {
    color:#0000FF;
    text-decoration:none; }

a:hover { text-decoration:underline; }
input { font:12px arial; }

